figure{
	width:100%;
	height: auto;
}

figure #mapaBackground{
	width: 100%;
	height: 100%;
	opacity: 0.6;
	display: block;
}

#containerTag{
	width: 45%;
	height: auto;
	position: relative;
	float: right;
	z-index: 2;
	opacity: 0.8;
	margin-right: 10%;
	margin-top: -60%;
	max-height: 200px;
	min-width: 200px;
}

figure #logoTag{
	float:left;
	width: 50%;
	height: auto;
	display: inline;
	position: relative;
	background-color: #000;
	max-height: 200px;
	min-width: 200px;
}

figure #devTag{
	float:left;
	width: 50%;
	height: auto;
	z-index: -1;
	display: inline;
	position: relative;
	background-color: #000;
	border-left:1px dashed #2a2a2a;
	max-height: 200px;
	min-width: 200px;
}

figure p{
	color:#f5b956;
	font-size: 100%;
}

figure li{
	color:#aaaaaa;
	display: block;
	font-size: 100%;
	text-align: left;
}

figure ul{
	list-style-type: none;
	border-top: 1px dashed #2a2a2a;
}