body {
	padding-top:  70px;
	background-color: #F9F9F9;
}

/*-HEADER-*/
header {
	background-color: #009F93;
}

a {
	text-decoration: none;
	font-family: Montserrat,
				 sans-serif;
	color: #F8AE35;
}

a:hover {
	text-decoration: none;
	font-family: Montserrat,
				 sans-serif;
	color: #009f93;
}

button > a {
	text-decoration: none;
	color: #FFFFFF;
}

button > a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.list-group-item.active {
	background-color: #F8AE35;
	border-color: #F8AE35;
	color: #FFFFFF;;
}

.list-group-item.active:hover {
	background-color: #F8AE35;
	border-color: #F8AE35;
	color: #FFFFFF;;
}

.header img{
	display: block;
	height: auto;
	max-width: 100%;
	margin:auto;
	margin-top: -20px;
}

.lpth-navbar{
	font-family: Montserrat,
				 sans-serif;
	font-weight: 500;
	color: #3D3D3B;
	letter-spacing: 1.5px;
}

.lpth {
	font-family: Montserrat,
				 sans-serif;
	color: #3D3D3B;
}

.lpth-center {
	font-family: Montserrat,
				 sans-serif;
	color: #3D3D3B;
	text-align: center;
} 
 
#brandicon {
	margin-top: -5px;
	max-width: 100px;  
}

/*-POST-*/

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.post .thumb {
	margin-right: 10px;
	width: 40%;
}

.post .thumb img {
	width: 100%;

}

.thumb{
	max-width: 320px;
	max-height: 160px;
	display: inline-flex;
}

.post.container-buttons {
	width: 100%;
}

.post-title a {
	font-family: Montserrat,
				 sans-serif;
	font-weight: bold;
}

.post-content {
	text-decoration: none;
	font-family: Montserrat,
				 sans-serif;
	color: #3D3D3B;
}

/*-ASIDE-*/
aside a {
	font-family: Montserrat,
				 sans-serif;
	font-style: normal;
	font-weight: 450;
}

aside h4 {
	font-family: Montserrat,
				 sans-serif;
	font-weight: 500;
	text-align: left;
	color: #3D3D3B;
}

/*-FOOTER-*/
footer {
	background-color: #009f93;
	position:relative;
	color: #ffffff;
	clear: both;
	width:100%;
	height: 5%;
	bottom:0;
}

.foot {
	padding-top: 10px;
	padding-bottom: 10px;
}

.foot ul li {
	display: inline-block;
	margin-left: -40px;
	margin-right: 60px;
	padding: -10px;
}

.foot ul li a {
	text-decoration: none;
	text-align: left;
	font-family: Montserrat,
				 sans-serif;
	font-size: 16px;
	color: #FFFFFF
}

.foot ul li a:hover {
	text-decoration: none;
	text-align: left;
	font-family: Montserrat,
				 sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #F8AE35;
}


#footext {
	text-decoration: none;
	text-align: left;
	font-family: Montserrat, 
				 sans-serif;
	font-weight: 300;
	font-size: 14px;
}

#foot-icon {
	font-size: 38px;
	color:  #F8AE35;
	text-decoration: none;
}

#foot-icon:hover {
	font-size: 38px;
	color:  #F9F9F9;
	text-decoration: none;
}

#footer-img {
	height: auto;
	max-width: 308px;
	min-width: 100px;
	width: 100%;
}


#social-bar-footer {
	height: 50px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 218px;
	width: 100%;
}

#social-bar-footer-ul {
	display: inline-block;
}

div > form {
	display: block;
	padding: 20px;
	margin-right: 30%;
	margin-left: 30%;
	margin-bottom: 20px;
	border: solid 1px #BBBBBB;
	border-radius: 10px;;
}

.form-signin {
	margin-top: -70px;
	margin-bottom: 70px;
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #F9F9F9;
	background-size: 100% 100%;
	background-repeat: no-repeat
}

.login-screen {
	background-color: #F9F9F9;
}

#formReg {
	background-color: #FFFFFF;
	border-radius: 5px;
}

#signupForm {
	background-color: #FFFFFF;
}

.map {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.map iframe {
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-MEDIA-*/
@media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0px;
	}

	div > form {
		display: block;
		padding: 15px;
		margin-right: 5%;
		margin-left: 5%;
		margin-bottom: 20px;
		border: solid 1px #BBBBBB;
		border-radius: 10px;;
	}

	#social-bar-footer {
		height: 50px;
		margin-top: 20px;
		margin-left: -30px;
		margin-right: auto;
		max-width: 218px;
		width: 100%;
	}

	social-bar-footer ul {
		display: inline-block;
		margin-left: -40px;
	}

	#foot-icon {
		font-size: 30px;
		color:  #F8AE35;
		text-decoration: none;
	}

	#foot-icon:hover {
		font-size: 30px;
		color:  #F9F9F9;
		text-decoration: none;
	}
}