figure{
	width:90%;
}

fieldset{
	margin: 0 auto;
	text-align: left;
}

input[type="text"],input[type="date"],textarea{
	width:100%;
	font-size: 1.3em;
}

input[type="submit"]{
	display: inline;
	float:right;
	width: 20%;
}