section > form {
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    display: block;
    margin-bottom: 20px;
    margin-left: 24%;
    margin-right: 24%;
    padding: 15px;
}


#signupForm label.error {
color:red;
}

#signupForm input.error {
border:1px solid red;
}

#hrRegForm{
	width: 	25%;
	opacity: 0.3;
}

@media screen and (max-width: 768px) {
	section > form {
	    border-radius: 5px;
	    border: solid 1px #BBBBBB;
	    display: block;
	    margin-bottom: 20px;
	    margin-left: 5%;
	    margin-right: 5%;
	    padding: 15px;
	}
}