#commentInfo{
	font-size: 0.8em;
}

footer p{
	font-size: 0.8em;
}

header {
	background-color: #009F93;
}

.header img{
	display: block;
	height: auto;
	max-width: 100%;
	margin:auto;
	margin-top: -20px;
}

body {
	padding-top:  70px;
}

#brandicon {
	margin-top: -5px;
	max-width: 100px;  
}

/*POST*/

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.post .thumb {
	margin-right: 10px;
	width: 40%;
}

.post .thumb img {
	width: 100%;
}

.post .container-buttons {
	width: 100%;
}

.foot {
	padding-top: 50px;
	padding-bottom: 50px;
}
.foot ul li {
	display: inline-block;
	margin-left: -40px;
	margin-right: 60px;
	text-decoration: none;
	text-align: left;
	font-face: "Segoe UI", Arial, sans-serif;
	font-size: 16px;
	color: #FFFFFF
	padding: 10px;
}

#footext {
	text-decoration: none;
	text-align: left;
	font-face: "Segoe UI", Arial, sans-serif;
	font-size: 16px;
}
