/*
Theme Name: InboundCycle 
Template Theme URI: https://inboundcycle.com/ 
Author: el equipo de InboundCycle 
Description: Plantilla desarrollada como parte del tutorial de como "Como crear una plantilla de Wordpress desde cero". 
Version: 1.0 
*/
#headerImg{
	width:75%;
	height:10%;
}

#headerImg img{
	border-radius:2%;
}

header, section, footer, aside, nav, article, figure, figcaption{
	display: block;
}

#navbar{
	background-color:#f7f7f7;
	opacity: 0.6;
	text-align: center;
}

#navbar li{
	color:#63a3d9;
	padding-top: 10%;
	margin-right: 2%;
	display: inline;
	list-style-type:none;
	text-align: center;
}

#navbar li a{
	font-weight: bold;
	padding-left: 3%;
	padding-right: 3%;
	text-decoration: none;
}

#navbar li a:hover{
	border-bottom: 1px dashed #00CCBD;
	cursor: pointer;
}

a:active{
	font-size:0.9em; 
}


@font-face{
	font-family:"Lato";
	src: url("fonts/lato/Lato-Regular.ttf") format("truetype"),
		 url("fonts/lato/Lato-Bold.ttf") format("truetype"),
		 url("fonts/lato/Lato-Heavy.ttf") format("truetype"),
		 url("fonts/lato/Lato-Light.ttf") format("truetype");
}

body{
	font-family: Lato, Segoe UI, Segoe UI Bold, Monospaced;
	color: #666666;
	background-position: center;
	line-height: 1.4em;
	margin: 0px;
}

#commentInfo{
	font-size: 0.9em;
}

.wrapper{
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #fafafa;}

footer{
	background-color: #009f93;
	position:relative;
	color: #ffffff;
	clear: both;
	width:100%;
	height: 5%;
	bottom:0;
	}

/*COURSES*/
section.courses{
	float: left;
	border-right: 1px solid #eeeeee;
}

article{
	clear: both;
	overflow: auto;
	width: 100%;}

hgroup{
	margin-top: 40px;}

figure{
	float: left;
	width: 290px;
	height: 150px;
	border: 1px solid #eeeeee;
}

figcaption{
	font-size: 90%;
	text-align: left;}

/*SIDEBAR*/
aside{
	width: 230px;
	float: left;
	padding: 0px 0px 0px 0px;
	border-left: 1px solid #eeeeee;
}

aside section a{
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;}

aside section a:hover{
	color: #985d6a;
	background-color: #efefef;
	padding-left: 2em;
	-webkit-transition: 0.2s ease-in-out;
}

a{
	color: #f5b956;
	text-decoration: none;}

h1, h2, h3{
	font-weight: normal;
}

h2{
	margin: 10px 0px 5px 0px;
	padding: 0px;
	color:#738591;
}

aside h2{
	padding: 30px 0px 10px 0px;
	font-weight:bolder;
}

h2 a{
	text-decoration: 1px underline;
}

.field {
    margin: 18px 0;
    position: relative;
    width: 490px;
    clear: both;
}

/*---SIGNUP---*/
#formReg{
	margin-left:3%;
	margin-top: 2.4%;
}

#formLog{
	margin-left:3%;
	margin-top: 2.4%;
}

#commentInfo{
	font-size: 0.8em;
}

footer p{
	font-size: 0.8em;
}