
header, section, footer, aside, nav, article, figure, figcaption{
	display: block;
}

body{
	color: #666666;
	background-color: #e1e3e3;
	background-image: url("http://i.stack.imgur.com/JICXS.jpg");
	background-position: center;
	font-family: Segoe UI, Segoe UI Bold, Monospaced;
	line-height: 1.4em;
	margin: 0px;}

.wrapper{
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #fafafa;}

header{
	height: 160px;
	background-image: url("http://imageshack.com/a/img924/8393/OftSLt.png");}

h1{
	width: 15em;
	height: 3.7em;
	margin: 0.3em;
}

nav, footer{
	clear: both;
	color: #ffffff;
	background-color: #009f93;
	height: 30px;}

nav ul{
	margin: 0px;
	padding: 5px 0px 5px 30px;}

nav li{
	display: inline;
	margin-right: 40px;}

nav li a{
	color: #ffffff;}

nav li a:hover, nav li a.current{
	color: #fda91e;}

section.courses{
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;}

article{
	clear: both;
	overflow: auto;
	width: 100%;}

hgroup{
	margin-top: 40px;}

figure{
	float: left;
	width: 290px;
	height: 150px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}

figcaption{
	font-size: 90%;
	text-align: left;}

aside{
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;}

aside section a{
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;}

aside section a:hover{
	color: #985d6a;
	background-color: #efefef;}

a{
	color: #fda91e;
	text-decoration: none;}

h1, h2, h3{
	font-weight: normal;}

h2{
	margin: 10px 0px 5px 0px;
	padding: 0px;}

h4{
	margin: 0px 0px 10px 0px;
	color: #fda91e;}

aside h2{
	padding: 30px 0px 10px 0px;
	color: #fda91e;}

footer{
	font-size: 80%;
	padding: 7px 0px 0px 20px;}